venv/
docs/
unused_code/
__pycache__/ 
20240806eduMRIsim_updated.zip
views/__pycache__/
views/__pycache__/
views/__pycache__/main_view_ui.cpython-311.pyc
views/__pycache__/view_model_dialog_ui.cpython-311.pyc
